<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="container">
            <div class="flex-row d-flex">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Word Game
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/wordGame/add-category">Add category</a></li>
                        <li><a class="dropdown-item" href="/wordGame/manage-categories">Manage categories</a></li>
                        <li><a class="dropdown-item" href="/wordGame/add-level">Add level</a></li>
                        <li><a class="dropdown-item" href="/wordGame/manage-levels">Manage levels</a></li>
                    </ul>
                </div>
                <div class="dropdown ms-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Image Game
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="/imageGame/add-category">Add category</a></li>
                        <li><a class="dropdown-item" href="/imageGame/manage-categories">Manage categories</a></li>
                        <li><a class="dropdown-item" href="/imageGame/add-image">Add Image</a></li>
                        <li><a class="dropdown-item" href="/imageGame/manage-images">Manage images</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
