<div class="col-auto">
    <input @bind="Letter.Value" @bind:after="async () => await CheckAnswer.InvokeAsync()"
           class="form-control form-control-lg one-char-input text-center @(Letter!.IsCorrect && IsGuideActive ? "bg-success" : "")"
           disabled="@(Letter.IsDisable)" id="ex1" type="text" maxlength="1" />
</div>

@code {
    [Parameter, EditorRequired]
    public Letter? Letter { get; set; }

    [Parameter, EditorRequired]
    public EventCallback CheckAnswer { get; set; }

    [Parameter]
    public bool IsGuideActive { get; set; }
}
