<div class="col">
    <a class="text-decoration-none" href="javascript:;" @onclick="() => OnNav.Invoke(CategoryDto.Id, CategoryDto.Name)">
        <div class="card border-primary btn-outline-primary text-center">
            <div class="card-body">
                <h5 class="card-title">@CategoryDto.Name</h5>
            </div>
        </div>
    </a>
</div>

@code {
    [Parameter, EditorRequired]
    public CategoryDto CategoryDto { get; set; } = default!;
    [Parameter, EditorRequired]
    public Action<int, string> OnNav { get; set; } = default!;
}
